@import url(admin-bar-component/dist/admin-bar.css);

@layer admin-bar {
  admin-bar {
    --admin-bar-bg-color: oklch(0.131 0.036 248.399);
    --admin-bar-color-highlight: oklch(0.55 0.23 28.77);

    & svg.icon {
      display: block;
      width: var(--admin-bar-icon-width, 1rem);
      height: auto;

      & :is(circle, ellipse, line, path, polygon, polyline, rect, text) {
        fill: currentColor;
      }
    }
  }
  .admin-bar-widget {
    [slot="popover"] {
      max-height: calc(90dvh - var(--admin-bar-height) - clamp(4px, 1vw, 13px));
    }
  }
}
