@layer admin-bar {
  admin-bar {
    --admin-bar-bg-color: oklch(0.91 0.02 251.72);
    --admin-bar-button-color-bg-hover: oklch(0.877 0.02 250.403);
    --admin-bar-button-color-text: oklch(0.41 0.03 246.58);
    --admin-bar-color-highlight: oklch(0.41 0.03 246.58);
    --admin-bar-color-text: oklch(0.41 0.03 246.58 / .9);
    --admin-bar-environment-bg: repeating-linear-gradient(-45deg, var(--admin-bar-environment-bg-color), var(--admin-bar-environment-bg-color) 18px, oklch(0.41 0.03 246.58) 18px, oklch(0.41 0.03 246.58) 30px);
    --admin-bar-text-badge-color-bg: oklch(0.41 0.03 246.58);
    --admin-bar-text-badge-color-text: oklch(0.91 0.02 251.72);
    --admin-bar-color-highlight-logout: oklch(0.55 0.23 28.77);
    --admin-bar-color-text-logout: oklch(1 0 89.876);
    --admin-bar-progress-color: oklch(0.54 0.27 261.89 / .8);
    --admin-bar-progress-height: 3px;
  }
}