@layer admin-bar {
  admin-bar {
    --admin-bar-bg-color: oklch(0.55 0.25 27.92 / 0.85);
    --admin-bar-border-radius: 10px;
    --admin-bar-button-color-bg-hover: oklch(0.164 0 89.876 / 0.9);
    --admin-bar-button-color-text: oklch(0.98 0.01 226.44);
    --admin-bar-color-highlight: oklch(1 0 89.876);
    --admin-bar-color-text: oklch(0.98 0.01 226.44 / 0.9);
    --admin-bar-text-label-color-bg: oklch(0 0 0 / 0.9);
    --admin-bar-text-label-color-text: oklch(0.98 0.01 226.44);
    --admin-bar-color-highlight-logout: oklch(0.88 0.21 92.24);
    --admin-bar-color-text-logout: oklch(0 0 0 / 0.9);
    --admin-bar-bg-filter: blur(2px) brightness(0.4) saturate(0.3);

    @supports (not (-webkit-backdrop-filter: blur(1px))) and (backdrop-filter: url(#filter)) {
      & {
        --admin-bar-enable-glass: true;
        --admin-bar-bg-filter: blur(2px) brightness(1.5) saturate(0.3);
      }
    }
  }
}
