@layer admin-bar {
  admin-bar {
    --admin-bar-bg-color: oklch(0.969 0.027 325.784 / .9);
    --admin-bar-bg-filter: blur(10px) brightness(2) saturate(2.5);
    --admin-bar-button-color-bg-hover: oklch(1 0 89.876);
    --admin-bar-button-color-text: oklch(0.707 0.248 327.809);
    --admin-bar-color-highlight: oklch(0.7 0.317 328.334);
    --admin-bar-color-text: oklch(0.549 0.24 328.254);
    --admin-bar-environment-bg-color: oklch(0.661 0.289 328.254);
    --admin-bar-badge-color-bg: oklch(0.661 0.289 328.254);
    --admin-bar-badge-color-text: oklch(0.969 0.027 325.784);
    --admin-bar-color-highlight-logout: oklch(0.327 0.043 72.558);
    --admin-bar-color-text-logout: oklch(0.864 0.214 123.919);
    --admin-bar-progress-color: oklch(0.7 0.317 328.334);
    --admin-bar-progress-height: 3px;
    --widget-search-results-badge-color-text: oklch(0.969 0.027 325.784 / .9);
  }

  admin-bar-button:hover::part(badge) {
    color: oklch(0.969 0.027 325.784 / .9);
  }
}