@layer admin-bar {
  admin-bar.admin-bar {
    --admin-bar-height: max-content;
    --admin-bar-progress-height: 4px;

    &::part(avatar) {
      border-radius: 5px;
      width: 34px;
    }
    &::part(buttons) {
      @container not style(--admin-bar-vertical: true) {
        flex-flow: row wrap;
        justify-content: end;
        position: relative;
        overflow-x: unset;
      }
    }

    & > * {
      --admin-bar-height: 50px;
    }
  }
}