@layer admin-bar {
  admin-bar {
    --admin-bar-bg-color: oklch(0.735 0.185 53.83 / 0.5);
    --admin-bar-button-color-bg-hover: color-mix(in oklch, var(--admin-bar-bg-color), oklch(1 0 89.876) 80%);
    --admin-bar-color-highlight: oklch(0.59 0.142 57.359);
    --admin-bar-color-highlight-logout: color-mix(in oklch, var(--admin-bar-bg-color), oklch(0.55 0.23 28.77));

    @supports (not (-webkit-backdrop-filter: blur(1px))) and (backdrop-filter: url(#filter)) {
      & {
        --admin-bar-enable-glass: true;
        --admin-bar-bg-filter: blur(2px) brightness(0.3) saturate(2.5);
      }
    }
  }
}