/* Added styles to CSS Cascade Layer to make it easier to override them. */
@layer admin-bar {
  admin-bar {
    /* Used in gradients and as a solid color in the background for `<admin-bar>` elements and button popovers. */
    --admin-bar-bg-color: #000000;

    /* Sets the background of the `<admin-bar>` elements and popovers using the background shorthand property,
    allowing you to use a gradient, a solid color, or an image. Setting this removes the "glass" effect and transparencies in popovers. */
    /*--admin-bar-bg: var(--admin-bar-bg-color);*/

    /* Border radius value used in different places. */
    --admin-bar-border-radius: 6px;

    /* Adds an effect to blur. */
    --admin-bar-backdrop-filter: blur(20px) saturate(200%);

    /* The color of the text and icons during the hover state. */
    --admin-bar-color-highlight: oklch(0.6 0.4 83);

    /* The highlight color specific to logout buttons. That can be set to
    a different color to make it more obvious that the logout button is not a link. */
    --admin-bar-color-highlight-logout: var(--admin-bar-color-highlight);

    /* The color of text for everything but button labels.. */
    --admin-bar-color-text: rgb(255 255 255 / 0.9);

    /* The font stack for all text. Set this to `inherit` to match the font-family of the parent element (including fonts set in @font-face). */
    --admin-bar-font-stack: system-ui, sans-serif;

    /* The font size for all text. */
    --admin-bar-font-size: .9rem;

    /* Background for glass element, used as a fallback for browsers that don’t support `mask-image`. */
    --admin-bar-glass-bg: var(--admin-bar-bg, linear-gradient(var(--admin-bar-gradient-direction), var(--admin-bar-bg-color), color-mix(in srgb, var(--admin-bar-bg-color), transparent 100%) 80%));

    /* The thickness of the glass effect on admin bar. */
    --admin-bar-glass-thickness: 2px;

    /* The default direction of gradients. */
    --admin-bar-gradient-direction: to bottom;

    /* The height and width of avatar images. */
    --admin-bar-avatar-size: 25px;

    /* The height of the bar and all of the buttons. */
    --admin-bar-height: 43px;

    /* The vertical padding default for Admin Bar child elements. */
    --admin-bar-block-padding: 0;

    /* The horizontal padding default for Admin Bar child elements. */
    --admin-bar-inline-padding: clamp(4px, 1vw, 13px);

    /* When `show-environment` is added to an `<admin-bar>` an environment
    warning will appear. The default looks like yellow, striped police tape,
    but you can use any CSS value used in the background shorthand property. */
    --admin-bar-environment-bg: repeating-linear-gradient(
        -45deg,
        var(--admin-bar-environment-bg-color),
        var(--admin-bar-environment-bg-color) 18px,
        transparent 18px,
        transparent 30px
    );

    /* Change just the color of the yellow stripes in the environment warning. */
    --admin-bar-environment-bg-color: oklch(0.9 0.4 98);

    /* The height of the environment warning */
    --admin-bar-environment-height: 5px;

    /* The default transition duration for all animations.
    Set this to `0` to turn off transitions. */
    --admin-bar-transition-duration: 0.3s;

    /* Adds a box-shadow to the bar to increase visual elevation. */
    /*--admin-bar-shadow: 0 0 15px color-mix(in srgb, rgb(0, 0, 0, 0.7), currentColor 10%);*/

    /* Adds a box-shadow to avatar images and buttons. */
    --admin-bar-shadow-elements: 0 1px 2px color-mix(in srgb, rgb(0 0 0 / 0.4), currentColor 10%), 0 3px 6px color-mix(in srgb, rgba(0 0 0 / 0.3), currentColor 10%);

    /* By default, when adding the `fixed` or `sticky` class to an `<admin-bar>`,
     the z-index of the element is set to `1`. Set this property if you need the
     z-index to be a higher value. */
    /*--admin-bar-z-index: 1;*/

    /* The background of all buttons. */
    --admin-bar-button-color-bg: transparent;

    /* The background of the button that is currently in the hover state. */
    --admin-bar-button-color-bg-hover: var(--admin-bar-button-color-text, white);

    /* The text of all button labels. */
    --admin-bar-button-color-text: rgb(255 255 255);

    /* The default color of text on button popover elements. */
    --admin-bar-button-popover-color-text: var(--admin-bar-color-text, rgb(255 255 255));

    /* The background of the button popover element. */
    --admin-bar-button-popover-bg: var(--admin-bar-bg, color-mix(in srgb, var(--admin-bar-bg-color), transparent 40%));

    /* The `border-radius` property that changes based on the position of the popover.  */
    --admin-bar-button-popover-border-radius: var(--admin-bar-border-radius);

    /* The value of the padding property on `admin-bar-text` components. */
    /*--admin-bar-text-padding: var(--admin-bar-block-padding) var(--admin-bar-inline-padding);*/

    /* The background for labels in `admin-bar-text` components. */
    --admin-bar-text-label-color-bg: rgb(255 255 255 / 0.9);

    /* The text for labels in `admin-bar-text` components. */
    --admin-bar-text-label-color-text: rgb(0 0 0 / 1);

    /* ====================================================================== */

    /* Default styles for the `<admin-bar>` element. */
    --environment-height: 0px;
    display: block;
    width: var(--admin-bar-width, 100%);
    height: calc(var(--admin-bar-height, 43px) + var(--environment-height));

    /* Stop `admin-bar-button` elements from shrinking on resize. */
    & > admin-bar-button {
      flex-shrink: 0;
    }

    /* Add height when environment warning is enabled. */
    &[show-environment] {
      --environment-height: var(--admin-bar-environment-height);
    }
    /* Set read direction from right to left. */
    &.rtl {
      direction: rtl;
    }
    /* Fixes `<admin-bar>` to the top of page. */
    &.fixed {
      position: fixed;
      right: 0;
      left: 0;
      z-index: var(--admin-bar-z-index, 1);

      &:not(.bottom) {
        top: 0;
      }
    }
    /* Sticks `<admin-bar>` to the top of the page when scrolling. */
    &.sticky {
      position: sticky;
      right: 0;
      left: 0;
      z-index: var(--admin-bar-z-index, 1);

      &:not(.bottom) {
        top: 0;
      }
    }
    /* Moves `<admin-bar>` to the bottom of the page when using `.fixed` or `.sticky`. */
    &.bottom {
      --admin-bar-gradient-direction: to top;
      right: 0;
      bottom: 0;
      left: 0;
    }

    /* Avoid layout shift from happening before Admin Bar Component is registered. */
    &:not(:defined) {
      background: var(--admin-bar-bg-color);
      opacity: 0.75;

      /* Hide all slot content until Admin Bar Component is registered. */
      & * {
        display: none;
      }
    }
  }

  @media (prefers-reduced-motion) {
    admin-bar {
      /* Turns off transitions for users who do not want any animations. */
      --admin-bar-transition-duration: 0s;
    }
  }
}
