{% import "_includes/forms" as forms %}

<h2>Colors</h2>

<table width="100%">
	<caption></caption>
	<thead>
		<tr>
			<th width="33%"></th>
			<th width="33%"></th>
			<th width="33%"></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
        {{ forms.colorField({
          'label': 'Highlight Color',
          'id': 'highlightColor',
          'name': 'highlightColor',
          'value': settings.highlightColor ?? '#d85b4b',
          'instructions': 'Color used for highlights and rollovers.'
          }) }}
			</td>
			<td>
        {{ forms.colorField({
          'label': 'Background Color',
          'id': 'bgColor',
          'name': 'bgColor',
          'value': settings.bgColor ?? '#000000',
          'instructions': 'Background color for Admin&nbsp;Bar and Edit&nbsp;Links.'
          }) }}
			</td>
			<td>
        {{ forms.colorField({
          'label': 'Text Color',
          'id': 'textColor',
          'name': 'textColor',
          'value': settings.textColor ?? '#FFFFFF',
          'instructions': 'Color used for icons and text.'
          }) }}
			</td>
		</tr>
	</tbody>
</table>

<hr>

{{ forms.editableTableField({
  'label': 'Custom Links',
  'id': 'customLinks',
  'name': 'customLinks',
  'addRowLabel': 'Add a link',
  'cols': {
    'linkLabel': {
      'heading': 'Label',
      'type': 'singleline',
    },
    'linkUrl': {
      'heading': 'URL',
      'type': 'singleline',
    },
    'adminOnly': {
      'heading': 'Admin only?',
      'type': 'checkbox',
    },
  },
  'rows': settings.customLinks ?? ['','',''],
  'instructions': 'Add your own links to the Admin Bar.'
}) }}